*{
    font-family: "Audiowide", sans-serif;
}

nav{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 50px;
    width: 100%;
}

nav *{
    flex-grow: 1;
    border: none;
}

nav a button{
    width: 100%;
    height: 100%;
    border-bottom: solid;
    border-color: cyan;
}

#mainNav a button{
    border-top: solid;
    border-color: cyan;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    background: linear-gradient(to bottom, white, grey);
}

html{
    height: 100%;
}
body{
    margin: 0;
    background: linear-gradient(to right, rgb(0, 200, 200), rgb(0, 125, 125), rgb(0, 125, 125), rgb(0, 200, 200));
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rotating-wrapper {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .rotating-card {
    position: relative;
    width: max-content;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;
    height: 100%;
  }
  
  .side {
    position: absolute;
    left: 0;
    right: 0;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    white-space: nowrap;
    transform-origin: center;
    width: 100%;
  }
  
  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }
  
  @keyframes spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
}

#mainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

img{
  border-radius: 10px;
}

.img-p_paragraph{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 5vw;
  width: 80%;
  margin: 20px 0;

  img{
    width : 30%;
    min-width: 400px;
    max-height: 500px;
  }

  img.wider{
    width : 50%;
  }

  > div{
    width: 70%;
  }

  div.justRight{
    text-align: right;
  }

  div.justRight ul {
    list-style-position: inside;
    direction: rtl;
  }
}

a{
  color: yellow;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.carousel-images {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-images img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

h1{
   font-size: xx-large;
}